
h1 {
    color: blue;
    text-align: center;
}

h2 {
    color: blue;
}

header p {
    color: green;
}

header p span{
    color: red;
}

.highlight {
    background-color: yellow; 
}

footer .highlight {
    background-color: lightgray;
}

body {
    color: green;
}
footer { 
    color: red;
}

footer p {
    color: orange;
}

body footer p {
    color: rgb(255, 208, 0);
}

footer .highlight {
    background-color: purple;
    color: yellow;
}
